.caja
{display: flex;
flex-direction: column;
border: 2px solid black;
color: white;
align-items: flex-end;
}
.rojo{ background-color: red;
height: 100px;
width: 150px;
text-align: center;
padding-top: 60px;}
.azul{background-color: blue;
height: 100px;
width: 150px;
text-align: center;
padding-top: 60px;}
.verde{background-color: green;
height: 100px;
width: 150px;
text-align: center;
padding-top: 60px;}
