.caja3{
    display: flex;
flex-direction: row;
border: 2px solid black;
color: white;
justify-content: space-between;}
.rojo3{
    background-color: red;
height: 200px;
width: 150px;
display: flex;
justify-content: center;
align-items: center;
}
.azul3{background-color: blue;
    height: 200px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center; }
.verde3{background-color: green;
    height: 200px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center; }